/*  =======================
    Zona: Estilos de Navbar
    =======================*/
nav{
    background: #ffffff57;
    transition: all 0.7s;

}

nav div li{
    display: block;
    
}

nav ul li a{
    color: #282828;
    transition: all 0.7s;
    
}
nav ul li .nav-link:hover{
    color: red;

}

.abajo{
    color: white;
    background: #282828;

}
.abajo aside p span{
    color: white;
    transition: all 0.7s;
}
.abajo li a{
    color: white;
    transition: all 0.7s;
    

}

/* Termina Zona: Estilos Navbar
================================ */

/*  =======================
    Zona: Estilos de Header
    =======================*/
.header{
    position: relative;
   
    overflow: hidden;
}


.textHeader{
    height: 100%;
    position: absolute;
    top: 0;
    background: #28282879;
    padding: 10%;

}


.imageHeader{
    height: 100%;
}

section{
    height: 100vh;
}
/* Termina Zona: Estilos Header
================================ */

/*  =======================
    Zona: Estilos de valores
    =======================*/
#valores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#valores {
  display: flex;
  flex-wrap: nowrap; /* Evita que las tarjetas se apilen */
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#valores-container h2 {
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 220px;
  min-height: 250px; 
  background: rgb(205, 235, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  padding: 20px; 
  text-align: center;
  transition: all 0.5s;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: rgb(17, 17, 18);
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card:hover {
  color: white;
}

.card:hover::after {
  content: attr(data-text);
  font-size: 18px;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Termina Zona: Estilos Valores
================================ */

/*============================
    Zona: Estilos Tipo Negocio
=============================*/

#tNegocios{
    position: relative;
    width: 100%;
    height: 75vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.tNegociostitle{
    display: 1;
}
.tNegociostitle h2{
    font-size: 25px;
    margin-bottom: -5px;
    color: rgb(53, 53, 53);
}
.tNegociostitle h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(228, 41, 41);
}
#tNegocios section{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 2%;
    align-items: center;
    width: 100%;
    height: 45vh;
    margin-top: 5vh;
}
.tNegocioscard{
    width: 20%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px rgb(255, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.tNegocioscard h2{
    font-size: 20px;
    font-weight: 700;
}
.tNegocioscard:nth-child(1) img{
    width: 50%;
    height: auto;
}
.tNegocioscard:nth-child(2) img{
    width: auto;
    height: 30%;
}
.tNegocioscard:nth-child(3) img{
    width: auto;
    height: 30%;
}
.tNegocioscard:nth-child(4) img{
    width: 50%;
    height: auto;
}
.tNegocioscard img{
    transition: 180ms all ease-in-out;
}
.tNegocioscard img:hover{
    transform: scale(1.1);
}
/* Termina Zona: Estilos Tipo Negocio
===================================== */